.nav-container {
    display: flex;
    align-items: baseline;
    width: 100%;
    padding: 8px 8px;
    box-sizing: border-box;

    .nav-link {
        margin: 12px 12px;
        color: white;
        font-weight: bold;
        padding: 0 6px;

        .logo {
            height: 32px;
        }

        &:hover {
            box-shadow: none;
            border: none;
        }

        &.active {
            border-bottom: 2px white solid;
        }
    }
}

@media (prefers-color-scheme: light) {
    .nav-container {
        .nav-link {
            color: black;
            &.active {
                border-color: black;
            }
        }
    }
}