body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;

  a {
    display: inline-block;
    height: 1.2rem;
  }
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 48%;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  font-size: 16px;

  &[type="color"] {
      height: 50px;
  }
}

legend {
  font-weight: bold;
}

.group-container {
  display: flex;
  flex-direction: column;
}

